<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label for="server-name">Server Name</label>
    <!--    <input type="text" class="form-control" [(ngModel)]="newServerName" id="server-name">-->
    <input type="text" class="form-control" id="server-name" #serverNameInput>
    <label for="server-content">Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" id="server-content">
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint
    </button>
  </div>
</div>
